* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #f4f5f7;
  overflow: hidden;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
}

.App {
  width: 50%;
  max-width: 800px;
  margin: 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
